:root{
    --white : hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayishblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
    --text-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: var(--lightgray);
}


.main-container{
    align-self: center;
    display: flex;
    width: 270px;
    flex-direction: column;
    border-radius: 10px;
    background-color: var(--white);
    padding: 15px;
    box-shadow: 0px 4px 15px 1px rgba(0, 0, 0, 0.245);
}

#image-container{
    align-self: center;
}

.text-container{
    font-family:'Outfit','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: var(--text-size);
    align-self: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 14px;
}



img{
    width: 100%;
    border-radius: 10px;
}

#title{
    font-family: inherit;
    font-weight: 700;
    font-size: inherit;
    text-align: center;
    line-height: 1.3;
}

#description{
    font-family: inherit;
    font-size: 12px;
    line-height: 1.2;
    color: var(--grayishblue);
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 376px){
    .main-container{
        width: 300px;
    }
}

@media (max-width: 290px) {
    .main-container{
        width: 260px;
    }
}







